
   @import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800');

body {
	font-family: 'Alegreya Sans', sans-serif;
	overflow-x: hidden;
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
#content{
  position: relative;
}
#hover{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  display: none;
  width: 100vw;
  background-color: rgba(17, 17, 17, 0.411);
  transition: 2s;
}
.show{
  display: block !important;
  /* transition: 5s ease-in; */
}
.nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 5;
	top: 0;
	right: 0;
	background-color: #111;
	opacity: .9;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.7s;
}
.nav a {
	display: block;
	padding: 20px 30px;
	font-size: 25px;
	text-decoration: none;
	color: #ccc;
}
.nav a:hover {
	color: #fff;
	transition: 0.4s;
}
.nav .close {
	position: absolute;
	top: 0;
	right: 22px;
	margin-left: 50px;
	font-size: 30px
}
.slide{
  display: flex;
  justify-content: flex-end;
}
.slide a {
	color: #000;
	font-size: 36px;
}
/* #content {
	padding: 20px;
	transition: margin-left 0.7s;
	overflow: hidden;
	width: 100%;
} */






















